.navbar {
    background: #000;
    border-bottom: 2px solid transparent;
    -moz-border-image: -moz-linear-gradient(90deg, #B67C2400 0%, #F4D97A 20%, #F4D97A 80%, #B67C2400 100%);
    -webkit-border-image: -webkit-linear-gradient(90deg, #B67C2400 0%, #F4D97A 20%, #F4D97A 80%, #B67C2400 100%);
    border-image: linear-gradient(90deg, #B67C2400 0%, #F4D97A 20%, #F4D97A 80%, #B67C2400 100%);
    border-image-slice: 1;
    z-index: 2;
}
.bg-img {
    padding-bottom: 56.25%;
}
.bg-transparent {
    background-color: transparent;
}
.bg-black {
    background-color: #000;
}
.bg-black-3 {
    background: linear-gradient(90deg, rgba(0,0,0,.8) 50%, rgba(0,0,0,.0) 100%);
}
.img-1 {
    background: linear-gradient(180deg, transparent 80%, #000 100%), url(../images/homepage_1.jpg)no-repeat left/cover;
}
.img-2 {
    background: linear-gradient(180deg, #000 0%, transparent 10%, transparent 80%, #000 100%), url(../images/bgpage_2.jpg)no-repeat center/cover;
}
.img-fishing {
    background: linear-gradient(180deg, #000 0%, transparent 10%, transparent 80%, #000 100%), url(../images/bgpage_3.jpg)no-repeat center/cover;
}
.word-box {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.text-box {
    z-index: 1;
}
.game-card,
.service-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 18%;
    flex: 0 0 18%;
    max-width: 18%;
}
.game-card:before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    background: linear-gradient(90deg, #B67C24 0%, #F4D97A 20%, #F4D97A 80%, #B67C24 100%);
    border-radius: 5px;
    z-index: -1;
}
.fifthpg {
    background: linear-gradient(180deg, #B67C24 0%, #F4D97A 30%, #F4D97A 60%, #B67C24 90% , #000 100%);
}
.fifthpg:before {
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 2.5rem 100vw;
    border-color: transparent transparent #B67C24 transparent;
}
.btn-gold {
    background: linear-gradient(90deg, #B67C24 0%, #F4D97A 20%, #F4D97A 80%, #B67C24 100%);
    color: #fff;
    text-shadow: 1px 1px 0px #000, 0px 1px 0px #000, -1px 1px 0px #000, -1px 0px 0px #000, -1px -1px 0px #000, 0px -1px 0px #000, 1px -1px 0px #000, 1px 0px 0px #000;
}
.btn-gold:hover {
    color: #fff;
}
.btn-outline-gold {
    color: #F4D97A;
    border-color: #F4D97A;
}
.btn-outline-gold:hover {
    color: #000;
    background-color: #F4D97A;
    border-color: #F4D97A;
}
.text-glod {
    background: linear-gradient(180deg, #B67C24 20%, #F4D97A 40%, #F4D97A 60%, #B67C24 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-yellow {
    color: #F4D97A !important;
}
.FarAndNear {
    animation: FarAndNear .8s ease infinite  alternate ;
}
@media screen and (max-width: 500px) {
    .bg-img {
        padding: 0;
        height: 100vh;
    }
    .h3 {
        font-size: 1rem;
    }
    .w-ph-100 {
        width: 100% !important;
    }
    .flex-ph-column {
        flex-direction: column;
    }
    .game-card{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .service-card {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .align-items-ph-end {
        -webkit-box-align: flex-end!important;
        -ms-flex-align: flex-end!important;
        align-items: flex-end!important;
    }
    .bg-ph {
        background: linear-gradient(180deg, transparent 0%, #000 50%);
    }
}
@keyframes FarAndNear {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}