.z-1 {z-index: 1;}
.bg-img {
    padding-bottom: 56.25%;
}
.img-1 {
    background: url(../images/homepage_1.jpg)no-repeat center/contain;
}
.word-box {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}